/* Add appropriate styles for the About section */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #333;
    font-size: 20px;
  }
.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .about-content img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  .about-content p {
    margin-bottom: 15px;
  }
.section{
    color: #fff;
}